<body style='background-color:lightgrey; font-size:150%;' >
    <h1>Calculator Online</h1>
    Result: {{a}} {{act}} {{b}} = {{result}}

<Form action='../'><input type='submit' value='Back'></form><br>