<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Calculator</title>
</head>
<body>
<h1>Calculator Online</h1>
<Form action="{% url 'cal:calculator' %}" method="get">
Number a:<br>
<input type='text' name='number a' size='40' autofocus><br>
Number b:<br><input type='text' name='number b' size='40'>
<h2>What you do? :</h2>
<input type='radio' name='action' value='+' checked>Plus<br>
<input type='radio' name='action' value='-'>Minus<br>
<input type='radio' name='action' value='*'>Multiplied<br>
<input type='radio' name='action' value='/'>Divided<br><br>
<input type='submit' value='Submit'></form><br>

</body>
</html>